{% extends 'events/event_base.html' %}
{% block title %}قائمة نشطات المجموعة{% endblock %}
{% block content %}


{% if next_event %}
<div class="row" id="next-event">
      <div class="col-md-6 col-sm-12 text-center">
	<h1>{{ next_event.name }}</h1>
	
	<p>&nbsp;</p>
	<p class="text-center">{{ next_event.short_description|safe }}</p>
	
	<div class="actions">
	  <a class="btn btn-default btn-lg" href="{% url 'events:show_event' next_event.pk %}">
	    انضم إلينا
	  </a>
	</div>
	
      </div>
      <div class="col-md-6 col-sm-12">
      <div class="row text-center">
      <img src="{% if next_event.image %}{{ next_event.image }}{% else %}{% static 'img/user.png' %}{% endif %}" class="img-rounded" style="height:270px;">
      </div>
    </div>
</div>
{% endif %}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">نشاطات المجموعة {% if perms.events.add_event %}<a href="{% url 'events:create_event' %}">(أنشئ)</a>{% endif %}</h3>
	</div>
	 <div class="panel-body">
		{% if page_events %}

		<table class="table table-hover">
			<thead>
				<tr>
					<th>الحدث</th>
					<th>الوقت</th>
					<th>المكان</th>
					<th></th>
				</tr>
			</thead>
			 <tbody>
				{% for e in page_events %}
				<tr>
					<td><a href="{% url 'events:show_event' e.pk %}">{{ e.name }}</a></td>
                       			<td>{{ e.starting_date|date:"j F Y" }}</td>
                       			<td>{{ e.location }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<div style="text-align:center;">
		    <span class="step-links">
		        {% if page_events.has_previous %}
		            <a href="?page={{ page_events.previous_page_number }}">السابق</a>
		        {% endif %}

        		<span class="current">
		            الصفحة {{ page_events.number }} من {{ page_events.paginator.num_pages }}
		        </span>

        		{% if page_events.has_next %}
		            <a href="?page={{ page_events.next_page_number }}">التالي</a>
		        {% endif %}
		    </span>
		</div>
		{% else %}
			<p>لا توجد نشاطات.</p>
		{% endif %}
	</div>
</div>

{% endblock %}
