{% extends 'base.html' %}
{% block title %}{{ event.name }}{% endblock %}
{% block meta %}
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:site" content="@RLUGroup" />
    <meta property="twitter:creator" content="@RLUGroup" />
    <meta property="twitter:title" content="{{ event.name }}" />
    <meta property="twitter:description" content="{{ event.short_description|safe }}" />
    <meta property="twitter:url" content="{{ full_url }}" />
{% endblock %}
{% block content %}

<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
    <style type="text/css">
	#eventmap {
		width: 100%;
		margin: 0;
}
	#time, #eventmap {
		height: 200px;
}
    </style>
<script>
$(function() {
        map = new OpenLayers.Map("eventmap");
        var mapnik         = new OpenLayers.Layer.OSM();
        var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
        var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
        var position       = new OpenLayers.LonLat({{ event.long_position|stringformat:"f" }}, {{ event.lat_position|stringformat:"f" }}).transform( fromProjection, toProjection);
        var zoom           = 15;
        var markers = new OpenLayers.Layer.Markers( "Markers" );
        map.addLayer(markers);
        map.addLayer(mapnik);
        markers.addMarker(new OpenLayers.Marker(position));
        map.setCenter(position, zoom );
        map.addControl(new OpenLayers.Control.Permalink('permalink'));
      });
</script>
<div class="row">
<h2>{{ event.name }}{% if perms.events.change_event %} (<a href="{% url 'events:edit_event' event.pk %}">عدّل</a>){% endif %}</h2>
</div>
<div class="row">
	<div class="col-md-9">
		<div id="eventmap"></div> 
	</div>
	<div class="col-md-3" id="time">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">متى؟</h3>
			</div>
			 <div class="panel-body">
				{% if event.starting_date|date:"nj" == event.ending_date|date:"nj" %}
					<p>{{ event.starting_date|date:"l j F o"  }}</br>من {{ event.starting_date|date:"h:i"  }} إلى {{ event.ending_date|date:"h:i"  }}</p>
				{% else %}
					<p><strong>البدء:</strong> {{ event.starting_date }}<br/><strong>الانتهاء:</strong> {{ event.ending_date }}</p>
				{% endif %}
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-9">
	<table class="table-hover table">
		<colgroup>
			<col class="col-xs-2">
			<col class="col-xs-7">
		</colgroup>
		<tr>
			<th>الوصف</th>
			<td>{{ event.description|safe }}</td>
		</tr>
		<tr>
			<th>المكان</th>
			<td>{{ event.location }}<br/>{{ event.location_description }}<br/>الإحداثيات: {{ event.lat_position|stringformat:"f" }}, {{ event.long_position|stringformat:"f" }}</td>
		</tr>
	</table>
	</div>
	<div class="col-md-3">
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">احضر!</h3>
	</div>
	 <div class="panel-body">
		{% if attendable == 'yes' %}
			<p>ككل نشاطات المجموعة هذا النشاط مجاني عمومي. {{ event.name }} متاح
			{% if event.available_to == 'M' %}للرجال
			{% elif event.available_to == 'F' %}للنساء
			{% elif event.available_to == 'A' %}للجميع رجالا ونساءً
			{% endif %} لكن ينبغي تسجيل الحضور. <a href="{% url 'events:attend' event.pk %}">سجّل حضورك</a>
			</p>
			<p></p>
		{% elif attendable == 'over' %}
			<p>انتهى الحدث ولم يعد ممكنا التسجيل لحضوره.</p>
		{% elif attendable == 'booked' %}
			<p>اكتمل حجز مقاعد هذا الحدث ولم يعد ممكنا التسجيل لحضوره.</p>
		{% endif %}
	</div>
</div>
	</div>
</div>

{% endblock %}
