{% extends "base.html" %}
{% block title %}عن{% endblock %}
{% block content %}
<p><strong>مجموعة مستخدمي لينكس الرياض</strong>
مجموعة تقنية ذات اهتمام بالبرمجيات الحرة ومايتصل بها من الحريات الرقمية ونظام التشغيل جنو/لينكس  والأمان الرقمي وغيره.</p>
<p><strong>مجموعة مستخدمي لينكس الرياض</strong>
مجموعة تطوعية غير هادفة للربح غايتها النفع العام والخدمة المجتمعية. ليس لنشاطاتنا أي مردود مادي لأي من الأعضاء، ونسعى لأن تكون كل النشاطات متاحة للجميع بلا مقابل. ينص <a href="{% url 'charter' %}">ميثاق المجموعة</a> على الأهداف التالية:</p>

<blockquote>
<ol>
<li>أن تكون منصة رحبة تشجع التعارف وتبادل المعارف وإطلاق المبادرات بين مؤيدي البرمجيات الحرة عموما ونظام جنو/لينكس تحديدا في الرياض.</li>
<li>أن تنشر البرمجيات الحرة عموما ونظام جنو/لينكس تحديدا لعموم المجتمع وللجهات الحكومية والخاصة عبر اللقاءات الدورية والدورات التدريبة والنشاطات المفتوحة وغيرها في الرياض.</li>
<li>أن تقدم الدعم الفني المجتمعي لمستخدمي البرمجيات الحرة عموما ومستخدمي نظام جنو/لينكس تحديدا.</li>
<li>أن تربط مؤيدي البرمجيات الحرة عموما ونظام جنو/لينكس تحديدا في الرياض، بالمؤيدين خارجها.</li>
</ol>
</blockquote>


{% endblock %}
