{% extends "base.html" %}
{% block about %} class="active"{% endblock %}
{% block title %}عن{% endblock %}
{% block content %}

<p><strong>مجموعة مستخدمي لينكس الرياض</strong>
مجموعة تطوعية ذات اهتمام بالبرمجيات الحرة ونظام التشغيل جنو/لينكس.  تهتم المجموعة بالأبعاد المجتمعية والأخلاقية للتقنية، وهي من هذا المنطلق تتناول أيضا الأمان الرقمي والحريات الرقمية. تعتمد المجموعة على مبادرة المتطوعين وجهودهم، وعضويتها متاحة لكل من يتبنى <a href="{% url 'charter' %}">ميثاقها</a> من رجال ونساء. المجموعة غير هادفة للربح، ونسعى لأن تكون كل النشاطات متاحة بلا مقابل.  ينص ميثاقها على الأهداف التالية:</p>
<blockquote>
<ol>
<li>أن تكون منصة رحبة تشجع التعارف وتبادل المعارف وإطلاق المبادرات بين مؤيدي البرمجيات الحرة عموما ونظام جنو/لينكس تحديدا في الرياض.</li>
<li>أن تنشر البرمجيات الحرة عموما ونظام جنو/لينكس تحديدا لعموم المجتمع وللجهات الحكومية والخاصة عبر اللقاءات الدورية والدورات التدريبة والنشاطات المفتوحة وغيرها في الرياض.</li>
<li>أن تقدم الدعم الفني المجتمعي لمستخدمي البرمجيات الحرة عموما ومستخدمي نظام جنو/لينكس تحديدا.</li>
<li>أن تربط مؤيدي البرمجيات الحرة عموما ونظام جنو/لينكس تحديدا في الرياض، بالمؤيدين خارجها.</li>
</ol>
</blockquote>


{% endblock %}
