{% extends "base.html" %}
{% block title %}ميثاق مجموعة مستخدمي لينكس الرياض{% endblock %}
{% block content %}
<p><strong>القاعدة 1</strong>:<br/>
اسم المجموعة: مجموعة مستخدمي لينكس الرياض.
</p>
<p><strong>القاعدة 2</strong>:<br/>
أهداف المجموعة:
<ol>
<li>أن تكون منصة رحبة تشجع التعارف وتبادل المعارف وإطلاق المبادرات بين مؤيدي البرمجيات الحرة عموما ونظام جنو/لينكس تحديدا في الرياض.</li>
<li>أن تنشر البرمجيات الحرة عموما ونظام جنو/لينكس تحديدا لعموم المجتمع وللجهات الحكومية والخاصة عبر اللقاءات الدورية والدورات التدريبة والنشاطات المفتوحة وغيرها في الرياض.</li>
<li>أن تقدم الدعم الفني المجتمعي لمستخدمي البرمجيات الحرة عموما ومستخدمي نظام جنو/لينكس تحديدا.</li>
<li>أن تربط مؤيدي البرمجيات الحرة عموما ونظام جنو/لينكس تحديدا في الرياض، بالمؤيدين خارجها.</li>
</ol>
</p>
<p><strong>القاعدة 3</strong>:<br/>
العضوية في المجموعة مفتوحة للجميع بلا مقابل مادي بغض النظر عن الجنس والجنسية والتوجهات ما التُزم بهذا الميثاق، وتنقسم العضوية لقسمين:
1. عضوية اعتيادية: مفتوحة لكل من يحضر نشاطات المجموعة وتتيح لحاملها: المشاركة في نقاش النشاطات واقتراحها والتصويت عليها -إذا تطلب الأمر تصويتا- وتنظيمها باسم المجموعة واقتراح تعديل هذا الميثاق (دون التصويت لاعتماد المقترح).
2. عضوية أساسية: تمنح لمن شارك مشاركة أساسية في أربعة نشاطات للمجموعة أو نظمها وتتيح لحاملها -علاوة على ما سبق-: التصويت على تعديل هذا الميثاق والمشاركة في تحديد مصروفات المجموعة والتصويت على قرارات المجموعة المصيرية. تنتفي العضوية الأساسية عند انقطاع المشاركة الفعالة لستة أشهر أو أكثر.</p>
<p><strong>القاعدة 4</strong>:<br/>
ليس للمجموعة إدارة شاملة ولا منسق عام بل تعتمد على مبادرة عموم أعضائها في اقتراح النشاطات وتنظيمها على أن يتولى مُقترِح النشاط تنسيقه بدعم ومشاركة من بقية الأعضاء، وإن وُجدت حاجة لتعيين منسق أو متحدث في شأن معين يُختار مؤقتا لذلك الشأن بتصويت مفتوح لجميع أعضائها وبمهمة محددة سلفا.</p>
<p><strong>القاعدة 5</strong>:<br/>
الشفافية وتعميم اتخاذ القرارات ركيزتان أساسيتان للمجموعة، ويناقش أعضاؤها شؤونها علنا في القائمة البريدية أو اللقاءات الدورية المفتوحة وفي الحالة الثانية ينشر ملخص بما تُوصّل إليه للتوثيق ولاطلاع جميع الأعضاء.</p>
<p><strong>القاعدة 6</strong>:<br/>
تعتمد المجموعة في نشاطاتها على تطوع أعضائها على أن تتكفل المجموعة بتمويل الاحتياجات العينية لإقامة تلك النشاطات، ويستثنى من ذلك الدورات التدريبية المتخصصة والمطولة التي يمكن أن تنظم باسم المجموعة بمقابل مادي معقول يقره الأعضاء الأساسيون توافقيا لمقدم الدورة.</p>
<p><strong>القاعدة 7</strong>:<br/>
عند حصول المجموعة على تمويل عام، ينتخب الأعضاء الأساسيون أمينا للصندوق لفترة محدّدة، ثم يُحدّدون توافقيا مقدار التمويل لكل نشاط ويُسلّم لمنسّق النشاط على أن يُزوّد الأعضاء الأساسيون بسجل مفصل بالتكاليف بعد انقضاء النشاط ويُردّ الفائض لأمين الصندوق.</p>
<p><strong>القاعدة 8</strong>:<br/>
يجوز تعديل قواعد هذا الميثاق بتصويت علني يمتد أسبوعا تتاح فيه المشاركة لجميع الأعضاء الأساسيين.</p>

{% endblock %}
