{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}التعاون والرعاية{% endblock %}
{% block content %}
<p><strong>مجموعة مستخدمي لينكس الرياض</strong> مجموعة تطوعية غير هادفة للربح غايتها النفع العام والخدمة المجتمعية. ليس لنشاطاتنا أي مردود مادي لأي من الأعضاء، ونسعى لأن تكون كل النشاطات متاحة للجميع بلا مقابل. لنا لقاءات دورية يجتمع فيها المهتمون بالبرمجيات الحرة، ولنا نشاطات أخرى لتبسيط المفاهيم التقنية وبثها في مجتمع المستخدمين ومساعدتهم على اقتنائها.  يحمل عضوية المجموعة شباب متطوعون من شتى أرجاء الوطن العربي، وكلهم يجمعهم ذات الشغف في جو أخّاذ من التعاون، إلا أن إقامة النشاطات الناجحة تتطلب دوما تجهيزات لوجستية متقنة (كالإعلان، والقاعة، والمنشورات)، ودعمكم وتعاونكم مع المجموعة سيترجم كله لمساهمة حقيقية في بناء مجتمع متين من المهتمين بالبرمجيات الحرة والثقافة الحرة، وفي زيادة الوعي المجتمعي بالتقنية الهادفة.</p>
	<form action="{% url 'sponsor' %}" method="post" class="form">
		{% csrf_token %}
		{% bootstrap_form form %}
		{% buttons %}
			<button type="submit" class="btn btn-success">
				 {% bootstrap_icon "ok-sign" %} أرسل 
			</button>
		{% endbuttons %}
	</form>
{% endblock %}
